.footer-container {
    clear: both;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    background-color: #e7f0f9;
    .footer {
        padding: 10px 0;
        text-align: center;
    }
}
